In [1]:
l = [1,2,3,4,5, "sudh" , 45.67, True]

# List

In [2]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

l = [0 ,1 ,2 ,3 ,4 ,5 ,6......]
in list data stored in indexes... 

scaling concept also aplicable here from -8 ,-7 , ------0 , 1 ,2 ,3

In [3]:
len(l)

8

In [5]:
l[0:5]

[1, 2, 3, 4, 5]

similary upper bound wil be exluded as we did in string

In [6]:
l[::-1]

[True, 45.67, 'sudh', 5, 4, 3, 2, 1]

In [7]:
l[0:100]

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [8]:
l[0:100:2]

[1, 3, 5, 45.67]

id l[a:b:c]
so here a = lower bound
        b = upper bound 
        c = jump size

In [9]:
l[0:8:-1]

[]

-8   -7   -6   -5   -4   -3  -2   -1  0  1  2  3  4
----------------------------------------------------
                  <_jump size negative _
    creating contradiction

In [10]:
l[:3]

[1, 2, 3]

In [11]:
l + "sudh"

TypeError: can only concatenate list (not "str") to list

In [12]:
l + ["sudh"]

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'sudh']

for concatenation data type must be same 
list + list 
str + str 

but multiplication can be done

In [13]:
l * 2

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [14]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [15]:
60 in l

False

In [16]:
2 in l

True

In [17]:
max(l)

TypeError: '>' not supported between instances of 'str' and 'int'

max function will work only when list contain integer 
data type only 

but in string it can do comparison

In [20]:
l1 = [3,4,5,6,6]

In [21]:
max(l1)

6

In [22]:
l2 = ["sudh", "ineuron"]

In [23]:
max(l2)

'sudh'

In [24]:
min (l1)

3

In [25]:
min(l2)

'ineuron'

In [26]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True]

In [27]:
l.append("kuamr")

In [28]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr']

In [29]:
l.append([1,2,3,4])

In [30]:
l

[1, 2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [31]:
l.pop(0)

1

In [32]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

l.pop(index number)
so value on that index will no longer available inside
thatr list

In [33]:
l.pop()

[1, 2, 3, 4]

In [34]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr']

In [35]:
l.reverse()

In [36]:
l

['kuamr', True, 45.67, 'sudh', 5, 4, 3, 2]

In [37]:
l[::-1]

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr']

In [38]:
l.reverse()

In [39]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr']

In [40]:
l.append([1,2,3,4])

In [41]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [42]:
l.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [43]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [44]:
l1

[3, 4, 5, 6, 6]

In [46]:
l1.sort()

In [47]:
l1

[3, 4, 5, 6, 6]

In [48]:
l3 = [8,98,34,23,1,0]

In [49]:
l3.sort(reverse=True)

In [50]:
l3

[98, 34, 23, 8, 1, 0]

if the element inside a list must be identical otherwise comparison 
operation won't be done.

In [53]:
l1 = [2,3,4]
l2 = [6,7,8]
l3 = [3,2,4]

In [54]:
l4 = [l1,l2,l3]

In [55]:
l4

[[2, 3, 4], [6, 7, 8], [3, 2, 4]]

now entire list inside indexes..

In [56]:
l4[2]

[3, 2, 4]

In [57]:
l4[2][1]

2

so it means 2 is the index of list inside l4 and 
1 is the index of sequrnce in third list

In [58]:
l.count(2)

1

In [59]:
l5 = [3,4,5,3,3,3]

In [60]:
l5.count(3)

4

In [63]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [6,6,8]

l4 = [l1,l2,l3]

In [64]:
l

[2, 3, 4, 5, 'sudh', 45.67, True, 'kuamr', [1, 2, 3, 4]]

In [67]:
l.append([4,56, "sudh"])

In [68]:
l

[2,
 3,
 4,
 5,
 'sudh',
 45.67,
 True,
 'kuamr',
 [1, 2, 3, 4],
 [4, 56, 'sudh'],
 [4, 56, 'sudh']]

In [69]:
l.extend("sudh")

In [70]:
l

[2,
 3,
 4,
 5,
 'sudh',
 45.67,
 True,
 'kuamr',
 [1, 2, 3, 4],
 [4, 56, 'sudh'],
 [4, 56, 'sudh'],
 's',
 'u',
 'd',
 'h']

In [71]:
l6 = [1,2,3]

In [72]:
l6.append([4,5,6])

In [73]:
l6

[1, 2, 3, [4, 5, 6]]

In [74]:
l6.append("sudh")

In [75]:
l6

[1, 2, 3, [4, 5, 6], 'sudh']

In [76]:
l6.append( "sudh")

In [78]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 'sudh']

In [79]:
l6.append(45)

In [80]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 'sudh', 45]

In [81]:
l6.extend([56,34,21])

In [82]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 'sudh', 45, 56, 34, 21]

l.extend = it wil unwrap the elements of the list 
then it will add them to existing list 

l.append = it will put the elements as it is.

In [83]:
l6.extend("sudh")

In [84]:
l6

[1, 2, 3, [4, 5, 6], 'sudh', 'sudh', 45, 56, 34, 21, 's', 'u', 'd', 'h']

In [86]:
l6.index(1)

0

index operation will determin the index of an element that 
we need to check

In [87]:
l7 = [1,2,3,4,55,6,6,7]

In [88]:
l7.index(6)

5

Here we have 6 on two indexes fifth and sixth but it will determine 
the very first occurence of the element in indexes

In [89]:
l = [1,2,3,4,5,45]

with insert function we can add an element at any specific location inside a string 
but append operation can add element only in the end

In [90]:
l.insert(1 , [1,2,34])

In [91]:
l

[1, [1, 2, 34], 2, 3, 4, 5, 45]

In [92]:
l.insert(5,"sudh")

In [93]:
l

[1, [1, 2, 34], 2, 3, 4, 'sudh', 5, 45]

In [94]:
l.pop()

45

In [95]:
l

[1, [1, 2, 34], 2, 3, 4, 'sudh', 5]

In [96]:
l.pop(2)

2

In [97]:
l

[1, [1, 2, 34], 3, 4, 'sudh', 5]

In [98]:
l.remove(100)

ValueError: list.remove(x): x not in list

In [ ]:
pop-up function can remove or delete the data set based on the indexes
but remove function always try to remove based on value

In [99]:
l.remove(4)

In [100]:
l

[1, [1, 2, 34], 3, 'sudh', 5]

In [101]:
l.remove(3)

In [102]:
l

[1, [1, 2, 34], 'sudh', 5]

In [103]:
l = [1,2,3,4]

In [104]:
l[2]

3

here l[2 is showing index]

In [105]:
l [2] = "sudh"

In [106]:
l

[1, 2, 'sudh', 4]

ln 105 showing replacement operation based on indexes

In [108]:
s = "iNeuron"

In [109]:
s[2]

'e'

In [110]:
s[2] = 'z'

TypeError: 'str' object does not support item assignment

string elements are not mutable (immutable) that is the reason 
you cannnot perform re-assignement operation. 
its not allowing us to mutate any of the object.

halaki jab Tuples padhoge pata chalega k wo b immutable kher dekhte hai

but list is mutable we can perform mutatation (immutable) that is the reason

# Tuples

In [111]:
t = (4,5,6,7,"sudh" ,45.67, True)

In [112]:
type(t)

tuple

for List we user square bracker 
for tuple we use normal bracet

In [113]:
t[0]

4

here you can see from index it extract an element
for extraction exact same rule is applicable as we did in list

In [114]:
t[0:4]

(4, 5, 6, 7)

similarly it will exclude uppoer bound

In [115]:
t[-1]

True

In [119]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [117]:
t[0:6:2]

(4, 6, 'sudh')

In [118]:
t[0:4:-1]

()

similarly contradiction occurs

In [120]:
l = [1,2,3,456,78]

In [121]:
l[2] = "kumar"

In [122]:
l

[1, 2, 'kumar', 456, 78]

so item assignement operation allowed in list

In [123]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [124]:

t[2] = "sudh"

TypeError: 'tuple' object does not support item assignment

hence, you can see tuple objects does not support mutability. 
that' why they are immutable elements.

In [125]:
t1 = (3,4,5,6)

In [126]:
t

(4, 5, 6, 7, 'sudh', 45.67, True)

In [127]:
t + t1

(4, 5, 6, 7, 'sudh', 45.67, True, 3, 4, 5, 6)

concept of immutability whenever we tried to distrub exisiting elemnts 
or indexes we are not replacing anything here 
we just add something

In [130]:
t.count(3)

0

In [131]:
t.count(4)

1

In [136]:
t.indexe(2)

AttributeError: 'tuple' object has no attribute 'indexe'

whenever you are triying to overide the complete memory that cannot be consider as
imutabvility 

we are not replacing anything via immutability.

In [135]:
t.index(5)

1

In [137]:
t = (3,4,56,7, "sudh")

In [138]:
t2 = list(t)

In [139]:
t2

[3, 4, 56, 7, 'sudh']

In [140]:
tuple(t2)

(3, 4, 56, 7, 'sudh')

we can change data type from list to tuple and tuple to list

In [141]:
str(t2)

"[3, 4, 56, 7, 'sudh']"

we can convert tuple or list into str data type but its meaningless. 
no requirement

# Dictionary

In [ ]:
IN case of dictionary curly bracket will be required,

In [142]:
d = {}

In [143]:
type(d)

dict

In [144]:
d1 = {1}

In [145]:
type(d1)

set

In [146]:
d2 = { 'key1' : "value" , 234 : "xyz" , "name" : "sudh" , "no" :34324346}

In [147]:
type(d2)

dict

dict is a data type 
we are storing data in terms in key and values.

In [148]:
d2['name']

'sudh'

In [149]:
d2['no']

34324346

here, my keys are always behave as indexes 
that help us to extract the data 
through key it passes a value to us.

In [150]:
d3 = {'name': "sudh" , 'tech':["python" , "ML" ,"DL" , "NLP" , "CV" ,"Bigdata" , "data analytics"]}

In [151]:
d3

{'name': 'sudh',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Bigdata', 'data analytics']}

In [152]:
d3['tech']

['python', 'ML', 'DL', 'NLP', 'CV', 'Bigdata', 'data analytics']

In [153]:
"python" in d3['tech']

True

In [154]:
d4 = {"name" :"iNeuron" , "contact_info" : 345345 , "name":"sudh"}

In [155]:
d4

{'name': 'sudh', 'contact_info': 345345}

In case of dictionary your keys always supposed to be unique. 
so that unique index data extraction can be done. 

otherwise last value will overide the fisrt one in same key
that's why 'name': 'sudh' is visible instead of one more data with same key

In [156]:
d4["k1"] = "xyz"

In [157]:
d4

{'name': 'sudh', 'contact_info': 345345, 'k1': 'xyz'}

In [158]:
d4["name1"] = "xyz"

In [159]:
d4

{'name': 'sudh', 'contact_info': 345345, 'k1': 'xyz', 'name1': 'xyz'}

In [160]:
d4['k2'] = d2

In [162]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324346}

In [163]:
d4

{'name': 'sudh',
 'contact_info': 345345,
 'k1': 'xyz',
 'name1': 'xyz',
 'k2': {'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324346}}

In [164]:
d4['k2']

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324346}

In [165]:
d4['k2']['no']

34324346

In [166]:
d5 = {@ : "sdfsd"}

SyntaxError: invalid syntax (Temp/ipykernel_5480/1256143599.py, line 1)

In [167]:
d5 = {_ : "sdfsd"}

In [168]:
d5[_]

'sdfsd'

we cannot use special character in keys except underscore (_)

In [169]:
d6 = {(1,2,34) : "fasdfasfas"}

In [170]:
d6[(1,2,34)]

'fasdfasfas'

In [171]:
d7 = {[1,2,3,4] : "fasfas"}

TypeError: unhashable type: 'list'

In [172]:
d8 = {{3:4} : "fsdfs"}

TypeError: unhashable type: 'dict'

In [173]:
d2

{'key1': 'value', 234: 'xyz', 'name': 'sudh', 'no': 34324346}

In [174]:
d3

{'name': 'sudh',
 'tech': ['python', 'ML', 'DL', 'NLP', 'CV', 'Bigdata', 'data analytics']}

In [175]:
d2 + d3

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

list + list = possible
string + string = possible
tuple + tuple = possible
dict + dict = not possible

In [176]:
d2.keys()

dict_keys(['key1', 234, 'name', 'no'])

In [177]:
d2.values()

dict_values(['value', 'xyz', 'sudh', 34324346])

In [178]:
d2.items()

dict_items([('key1', 'value'), (234, 'xyz'), ('name', 'sudh'), ('no', 34324346)])

# Set

In [179]:
s = {3,4,5,6,7,8}

In [180]:
type(s)

set

In [181]:
s1 = {3,4,4,5,6,6,7,7,8,8,9,9,0,0,0}

In [182]:
s1

{0, 3, 4, 5, 6, 7, 8, 9}

it is trying to remove duplicate indexes values and saving unique 
values so automatically set wil remove repeated values and return unique values

In [183]:
s2 = {3245 ,4545,6456,5645,675,6234,345}

In [184]:
s2

{345, 675, 3245, 4545, 5645, 6234, 6456}

here it looks like you can see a sorted elements

In [185]:
s3 = {"sudh" , 324 ,34 ,12 ,645 ,12 ,5,'b','6'}

In [186]:
s3

{12, 324, 34, 5, '6', 645, 'b', 'sudh'}

In [187]:
s3[0]

TypeError: 'set' object is not subscriptable

'set' object is not subscriptable
we cannot extract data entries from indexes in set

set is a data structure that we used to remove duplicate that's it.

In [188]:
list(s3)

[34, 324, 5, 645, 12, 'b', 'sudh', '6']

now i change the data type so I can perform indexing operations
slicing operation whatever i want.

In [190]:
l = [2,3,4,5656,7,6,7,7,7,77,7,7,7,7,7,7,7,7,7,7,7,7,77,7,7]

In [191]:
l = list(set(l))

In [192]:
l

[2, 3, 4, 6, 7, 77, 5656]

In [193]:
s2

{345, 675, 3245, 4545, 5645, 6234, 6456}

In [194]:
s2.add(34)

In [195]:
s2

{34, 345, 675, 3245, 4545, 5645, 6234, 6456}

In [196]:
s2.add([1,2,3,4,5])

TypeError: unhashable type: 'list'

so for this first of all we ned to convert data set into a list then only we can perform 
any list inclusion. 
in set we can add osmething only one by one

In [197]:
s = {(1,2,3,4) , 3,4,45,65,6}

In [198]:
s

{(1, 2, 3, 4), 3, 4, 45, 6, 65}

In [199]:
s1 = {[1,2,3,4] , 345 ,345}

TypeError: unhashable type: 'list'

In [200]:
s

{(1, 2, 3, 4), 3, 4, 45, 6, 65}

In [201]:
s.remove(3)

In [202]:
s

{(1, 2, 3, 4), 4, 45, 6, 65}

In [203]:
s.discard(4)

In [204]:
s

{(1, 2, 3, 4), 45, 6, 65}

s.remove(3)

Docstring:
Remove an element from a set; it must be a member.

If the element is not a member, raise a KeyError.
Type:      builtin_function_or_method

ye error dedega agar value is not a part of set 

s.discard(4)

Docstring:
Remove an element from a set if it is a member.

If the element is not a member, do nothing.
Type:      builtin_function_or_method

ye kuch error nahi dega if member is not a part of indexes.

str
list
tuple
dict
set

Question:- how to count the number in the list 
Ans:- len(list)

question: difference between append and extend ? 
    Answer:- 
        append() adds a single element to the end of the while.
        extend() can add multiple individual elements to the end of the list

Answer:- append() - appends a single element to the list.
    extend() - appends elements of an iterable to the list. 
    insert() - insert a single item at a given position of the list

List is data type that is mutable and tuple is immutable

mutable means we can change it later but in immutable we can't changed our data

tuple is immutable

# Practise of Homework

#Questions 

l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]
1 . Try to reverse a list 
2. try to access 234 out of this list 
3 . try to access 456 
4 . Try to extract only a list collection form list l 
5 . Try to extract "sudh"
6 . Try to list all the key in dict element avaible in list 
7 . Try to extract all the value element form dict available in list

In [ ]:
https://codeshare.io/X8PY8Y