In [2]:
a = 10
if a == 10:
    print("this is my first condition")

this is my first condition

# IF ELSE CONDITION AND OPERATORS

= assignment operator 
== comparison operator

In [5]:
a = 10
if a >5:
    pass

if we mentioned pass the nothing is required in body tab.

In [6]:
a = 10 
if a > 8:
    print("print this if condition is true")

print this if condition is true

In [7]:
a = 10 
if a < 8:
    print("print this if condition is true")

it's not printing anything because this condition is false or not satisfying

In [8]:
a = 10
if a != 11:
    print("my condition is false")
else:
    print("print this")

my condition is false

!= symbol of not equals to

In [9]:
a = 10
if a == 11:
    print("my condition is false")
else:
    print("print this")

print this

for multiple condition elif kind of a block can be used

In [11]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12")
elif a == 11:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

if all the blocks will fail then do this

In [12]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12")
elif a == 10:
    print("we are trying to compare 10 with 11")
else:
    print("if all the blocks will fail then do this")

we are trying to compare 10 with 11

so whenever any condition will true then the program will not move ahead into next line. 
otherwise code will try to execute and check condition line by line.

In [13]:
price = 500
if price > 500:
    print("i won't be able to by a jacket")
elif price < 500:
    print("i will be able to buy a jacket")

Above program doesn't execute because variable was exactly equals to 500 that is not validating any comparison operator

In [14]:
price = 500
if price > 500:
    print("i won't be able to by a jacket")
elif price <= 500:
    print("i will be able to buy a jacket")

i will be able to buy a jacket

In [15]:
price = 500
if price > 500:
    print("i won't be able to by a jacket")
elif price <= 500:
    print("i will be able to buy a jacket")
else price == 500:
    print("i don;t know")

SyntaxError: invalid syntax (Temp/ipykernel_17916/2479270199.py, line 6)

we can't put up else condition in this particular price

In [16]:
price = 500

if price > 500:
    print("i won't be able to by a jacket")
elif price <= 500:
    print("i will be able to buy a jacket")
elif price == 500:
    print("sure i will be able to buy")
else :
    print("i don't know")

i will be able to buy a jacket

In [17]:
price > 500

False

In [18]:
price < 500

False

In [19]:
price == 500

True

In [21]:
l = [1,2,3,4,5,6]
2 in l

True

In [22]:
if 2 in l:
    print("try to perform a task")
else:
    print("do not perform this task")

try to perform a task

if condition works on true & false

In [23]:
if 60 in l:
    print("try to perform a task")
else:
    print("do not perform this task")

do not perform this task

In [24]:
l

[1, 2, 3, 4, 5, 6]

In [25]:
60 in l

False

In [26]:
l

[1, 2, 3, 4, 5, 6]

In [28]:
if 1 in l:
    print("thy to do a addition")
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")

thy to do a addition

In [29]:
if 10 in l:
    print("thy to do a addition")
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")

try to do sub

once the condition is satisfied it will come out fro the entire statement

In [30]:
if 10 in l:
    print("thy to do a addition")
elif 2 in l:
    print("try to do sub")
elif 3 in l:
    print("try to do mul")
if 4 in l:
    print("this is new statement")

try to do sub
this is new statement

so, here 

if 4 in l:
    print("this is new statement")
    
    this block will be considered a new block or fresh block 
    so once condition is satisfied it will executed twice including 
    completely new block.

In [31]:
a = 400

In [32]:
b = input()

sdsdsd

In [33]:
b

'sdsdsd'

In [34]:
b = input()

400

In [35]:
b

'400'

In [36]:
b = input(54535)

54535544

In [37]:
b

'544'

so whever you will enter any data using input function 
by default it will convert that into string.

In [38]:
type(b)

str

In [39]:
b = int(input())

345

In [40]:
b

345

In [41]:
type(b)

int

In [42]:
b = int(input())

dfdfd545

ValueError: invalid literal for int() with base 10: 'dfdfd545'

In [43]:
type(b)

int

Init signature: int(self, /, *args, **kwargs)
Docstring:     
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4
Type:           type
Subclasses:     bool, IntEnum, IntFlag, _NamedIntConstant, Handle

In [2]:
price = int(input())
if price < 500:
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
    else:
        print("i won't be able to buy anything")
else:
    print(" i won't be able to buy anything with this price tag")

490
i will be able to buy something
i won't be able to buy anything

In [3]:
price = int(input())
if price < 500:
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
    else:
        print("i won't be able to buy anything")
else:
    print(" i won't be able to buy anything with this price tag")

300
i will be able to buy something
i will be able to buy a jacket

In [4]:
price = int(input())
if price < 500:
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
    else:
        print("i won't be able to buy anything")
else:
    print(" i won't be able to buy anything with this price tag")

1000
 i won't be able to buy anything with this price tag

it's nested if block

In [5]:
price = int(input())
if price < 500:
    print("i will be able to buy something")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        
        print(" i will be able to buy a shirt")
        if price < 200:
            print("i would like to do something")
    else:
        print("i won't be able to buy anything")
else:
    print(" i won't be able to buy anything with this price tag")
    if price > 500:
            print("lets try somrthing else")

600
 i won't be able to buy anything with this price tag
lets try somrthing else

In [14]:
marks = int(input())
if marks > 600:
    print("i will be able to clear GRE")
    if marks < 600:
        print("No GRE")
        if marks < 500:
            print("i can apply for TOEFL")
            if marks < 400:
                print("NO TOEFL")
    else:
        print("Nothing")

350

In [11]:
marks = int(input())
if marks < 600:
    print("NO GRE")
    if marks < 500:
        print("TOEFL")
        if marks < 400:
            print("Try sometjing else")
    else:
        print("YOU GOT TOEFL")
else:
    print("You got GRE congratulations")

200
NO GRE
TOEFL
Try sometjing else

In [15]:
val = float(input("enter a floating point number"))
if val >= 0:
    if val == 0 :
        print("entered value is zero")
    else:
        print("enter value is positive number")
else:
    print("entered number is a negative number")

enter a floating point number-345
entered number is a negative number

In [16]:
val = float(input("enter a floating point number"))
if val >= 0:
    if val == 0 :
        print("entered value is zero")
    else:
        print("enter value is positive number")
else:
    print("entered number is a negative number")

enter a floating point number0
entered value is zero

In [17]:
val = float(input("enter a floating point number"))
if val >= 0:
    if val == 0 :
        print("entered value is zero")
    else:
        print("enter value is positive number")
else:
    print("entered number is a negative number")

enter a floating point number324
enter value is positive number

In [19]:
val = float(input("enter a floating point number"))
if val >= 0:
    if val == 0 :
        print("entered value is zero")
    else:
        print("enter value is positive number")
else:
    print("entered number is a negative number")

enter a floating point number6.6
enter value is positive number

In [20]:
a = 10
if a <=10:
    print("try to do something")

try to do something

In [21]:
a = 10
if a < 10 or a == 10:
    print("try to do something")

try to do something

In [23]:
a = 10
if a < 10 or a > 10:
    print("try to do something")

both condition  false that's no output

In [27]:
a = 15
if a > 10 and a < 100:
    print("try to do x")

try to do x

In [28]:
a = 10
if a < 10 and a == 10:
    print("try to do something")

In [29]:
a = "sudh"
if a == "Sudh" and a == "Sudh":
    print("this is sudh")

Above rogram doesn't execute because python is a case sensitive language

In [30]:
a = "sudh"
if a == "sudh" or a == "Sudh":
    print("this is sudh")

this is sudh

Above program execute because code is executed successfully because one of the condition satisfied successfully

In [31]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 and b == 11 and c ==12 and d == 13:
    print("lets do something")

variable a is not satisfying or validating so n output comes from above prog

In [32]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c ==12 and d == 13:
    print("lets do something")

lets do something

a = False 
b = true 
c= true 
d = true 
but there is an OR operator between variable a and b

In [33]:
d = {'key1' : "value" , 'key2' : "sudh" , "key3" : "iNeuron"}

In [34]:
if d['key1'] == "value" and d['key2'] == "sudh" and d['key3'] == "iNeuron":
    print("all the values  are verified")
    print(d.values())

all the values  are verified
dict_values(['value', 'sudh', 'iNeuron'])

In [35]:
if d['key1'] == "value" and d['key2'] == "Sudh" and d['key3'] == "iNeuron":
    print("all the values  are verified")
    print(d.values())
else :
    print("all the values are not verified")

all the values are not verified

# LOOP

In [36]:
l = [1,2,3,4,5,"sudh" ,234.45]

In [37]:
l[0]

1

In [38]:
l[1]

2

In [39]:
l[2:5]

[3, 4, 5]

# for loop

In [40]:
for i in l : 
    print(i)

1
2
3
4
5
sudh
234.45

In [41]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

this is loop so it won't be able to terminate itself untill 
it failed to search something more.

In [42]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [43]:
for i in l : 
    print(i+1)

2
3
4
5
6

TypeError: can only concatenate str (not "int") to str

In [44]:
for i in l : 
    if type(i) == int:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1

In [45]:
for i in l : 
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
sudh1
235.45

In [46]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [47]:
l1 = []
for i in l :
    if type(i) == int:
        l1.append(i)

In [48]:
l1

[1, 2, 3, 4, 5]

through this way we can print only integer.

In [49]:
l

[1, 2, 3, 4, 5, 'sudh', 234.45]

In [51]:
for i in l:
    if type(i) == int or type(i) == float:
        print(i-2)
    elif type(i) == str:
        print(i-str(2))

-1
0
1
2
3

TypeError: unsupported operand type(s) for -: 'str' and 'str'