In [1]:
l = [1,2,3,4,"sudh" ,"kumar" , 45.56]

In [4]:
for i in l :
    print(i)

1
2
3
4
sudh
kumar
45.56

In [7]:
for i in l :
    pass

In [8]:
s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [9]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sudh
kumar
45.56
if for loop is going to complete itself the it will execute else

In [10]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45.56]

In [11]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [13]:
s = "sudhanshu"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

s
u
d
h
a
n
s
h
u
print srtring  sudhanshu

In [14]:
t = (4,5,6,7,8,6,"sudh")
for i in t :
    print(i)

4
5
6
7
8
6
sudh

In [15]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sudh"}

In [16]:
type(b)

set

In [17]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [18]:
for i in b :
    print(i)

4
5
6
7
8
sudh

In [20]:
d = {'key1' :"sudh" , 'contact' : "sudhanshu@ineuron.ai" , "position" : "xyz"}

In [26]:
for i in d :
    print(i ,":" ,  d[i] )

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [22]:
d['key1']

'sudh'

In [27]:
range(9)

range(0, 9)

In [28]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [31]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [33]:
list(range(0,9 , -1))

[]

In [34]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [162]:
n = 4 
for i in range(4) :
    for j in range(0 ,i+1) : 
        print("sudh" , end = "     ")
    print("\n")

sudh

sudh     sudh

sudh     sudh     sudh

sudh     sudh     sudh     sudh

In [41]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i): 
        print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [42]:
n=4
k=n
for i in range(n):
    k=k-1
    print('  '*k, end='')
    for j in range(i+1):
        print('sudh ', end= '')
    print()

      sudh
    sudh sudh
  sudh sudh sudh
sudh sudh sudh sudh

In [45]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print("",end=' ')
    for j in range(i+1):
        print("sudh",end=' ')
    print()

  sudh
 sudh sudh
sudh sudh sudh

In [46]:
n = 3

for i in range(n+1):
    print(' '*(n-i) + 'sudh '*i)

  sudh
 sudh sudh
sudh sudh sudh

In [49]:
list(range(0))

[]

In [50]:
t = (3,23,45,67,2,4,5,6)

In [55]:
t[0]

3

In [57]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [54]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [51]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [60]:
s = "ineuron"
for i in range(len(s)) : 
    print(i , s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [61]:
s

'ineuron'

In [69]:
for i in range(len(s)-1 , -1, -1):
    print(i , s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [70]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [74]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [75]:
l = ["sudh" , "kuamr" , 3234545 , "sudhanshu@ineuron.ai" , 345, 34345353]
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [76]:
l1

[3234545, 345, 34345353]

In [77]:
 d = {1: 3345345  , "name" : "sudh" , "email_id" : "sudhanshu@ineuron.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [79]:
for i in d :
    if type(i) == int :
        print(i , ":"  , d[i])

1 : 3345345
234 : 3454

In [80]:
s = "aaaabbccd"

In [83]:
for i in set(s):
    print(i  , ":" , s.count(i))

b : 2
a : 4
c : 2
d : 1

In [82]:
s.count('a')

4

In [89]:
i = 34534654646435
for j in str(i) :
    print(int(j ), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [85]:
str(i)

'34534654646435'

In [98]:
t = ("sudh" , "kumar" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"kumar"})

In [127]:
t=("sudh","kumar",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"sudh","key2":"kumar"})

In [128]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [134]:
d = {4:5 , "key1" : "sudh" , "key2" : "kumar"}

In [135]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [137]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sudh')
('key2', 'kumar')

In [105]:
d.items()

dict_items([(4, 5), ('key1', 'sudh'), ('key2', 'kumar')])

In [107]:
a = 10 
b = 20
c = 30

In [108]:
a , b , c = 10 , 20 , 30

In [109]:
a,b,c = (10,20,30)

In [113]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list 
    
    
before 29th may 2022 3 PM IST you have to send an answer to me or to shivan 
sudhanshu@ineuron.ai
shivan@ineuron.ai

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [115]:
d= {'key1' :"sudh" , (3,4,5,65) : "fdsfdsd" , [3,4,5,6] :"345"}

TypeError: unhashable type: 'list'

In [116]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [123]:
d1 = {}
d1['a'] == None

KeyError: 'a'

In [122]:
s="aaaabbccd"
d1={}

for i in s:
    if d1[i]==None :
        key=i
        d1={key:0}
    else:
        d1[i]=d1[i]+1
print(d1)

KeyError: 'a'

In [120]:
s="aaaabbccd"
d = {}
for i in set(s) : 
    d[i] =  s.count(i)

In [121]:
d

{'b': 2, 'a': 4, 'c': 2, 'd': 1}

In [130]:
l = list(range(6,-1,-1))
s = 'ineuron'
t = (l,s)

t

([6, 5, 4, 3, 2, 1, 0], 'ineuron')

In [131]:
print(t)
for i,j in t:
    print(i,j)

([6, 5, 4, 3, 2, 1, 0], 'ineuron')

ValueError: too many values to unpack (expected 2)

In [132]:
d

{'b': 2, 'a': 4, 'c': 2, 'd': 1}

In [133]:
d.items()

dict_items([('b', 2), ('a', 4), ('c', 2), ('d', 1)])

In [ ]:
1.	i = j = [3]
              i += j
              print(i,j)


2.	set = {"python", "coding", "tips", "for", "beginners"}
               print(set)
              ''.join(set)
3.	tuple = ("python", "coding", "tips", "for", "beginners")
               print(tuple)
              ''.join(tuple)
4.	print(dict(("py", "th", "on")))
5.	x, y = (0,1) if True else None, None
print(x)
6.	i = j = [3]
i += j
print(i,j)

In [139]:
i = j = [3]
i = [3] + [3]
print(i,j)

[3, 3] [3]

In [142]:
set = {"python", "coding", "tips", "for", "beginners"}
print(set)
' '.join(set)

{'tips', 'for', 'coding', 'python', 'beginners'}

'tips for coding python beginners'

In [144]:
tuple = ("python", "coding", "tips", "for", "beginners")
print(tuple)
' '.join(tuple)

('python', 'coding', 'tips', 'for', 'beginners')

'python coding tips for beginners'

In [145]:
print(dict(("py", "th", "on")))

{'p': 'y', 't': 'h', 'o': 'n'}

In [159]:
x, y = (0,1) if True else None , None
print(x)

(0, 1)

In [ ]:
i = j = [3]
i += j
print(i,j)

In [160]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):    
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [169]:
s = {1,1,1,11,1,1,4,4,4,4}

In [170]:
f = frozenset((1,2,2,3,34,4,4,4,4))

In [171]:
s.add(3)

In [177]:
for i in range(4) :
    for j in range (0 , i+1) :
        print("sudh" , end = "*")
    print()

sudh*
sudh*sudh*
sudh*sudh*sudh*
sudh*sudh*sudh*sudh*

In [32]:
l= [(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
l1 = []

In [35]:
for i in l :
    if type(i) == list or type( i )== tuple :
        for j in i :
            l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for m in k :
                l1.append(m)

In [34]:
l1

[3, 4, 5, 6, 2, 4, 5, 5, 6, 'k1', 'v1', 'k2', 'v2']

In [37]:
5%2

1

In [39]:
t = ("sudh" , "kumar" , [1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2":"kumar"})
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict : 
        for k,v  in i.items():
            if k == 3 or v == 3 :
                    print(k)
                    print(v)

3
3
3
3

In [41]:
a = "sudh"

if "3" in a:
    print("yes")
else:
    print("No")

No

In [ ]:
a = "sudh"

if 3 in a:
    print("yes")
else:
    print("No")



b = ["sudh","kumar","vyas"]

if 3 in b:
    print("yes")
else:
    print("No")

In [45]:
n = 4
for i in range(4) :
    for j in range(0,i+1) :
        print("sudh" , end =" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [48]:
n=3
for i in range (n):
    for j in range(i,n-1):
        print("" *len("sudh"),end= " ")
    for j in range (i+1):
        print("sudh",end=" " )
    for j in range(i):
        print("sudh",end= " ")
    print()

  sudh
 sudh sudh sudh
sudh sudh sudh sudh sudh

In [50]:
for i in t :
    if type(i) == list or type (i) == tuple :
        for j in i :
            if j ==3 :
                print(j)
    if type(i) ==dict :
            for k,v in i . items():
                if k == 3 or v == 3:
                    print(k)   
                    print(v)

3
3
3
3

In [54]:
b = input()

890

# Practise after revision

In [1]:
l = [1,2,3,4,"sudh","kumar"]

In [2]:
for i in l:
    print(i)
else:
    print("if for loop is going to complete itself tjem it will execute this statement")

1
2
3
4
sudh
kumar
if for loop is going to complete itself tjem it will execute this statement

In [3]:
for i in l: 
    if i == 4:
        break
    print(i)
else: 
    print("this will execute only if for is going to complete itself")

1
2
3

In [10]:
l = [1,2,3,4,"sudh","kumar"]

In [11]:
l

[1, 2, 3, 4, 'sudh', 'kumar']

In [14]:
s = "sudhanshu"
for i in s:
    if i == 'n':
        break
    print(i)
else:
    print("print string", s)

s
u
d
h
a

In [15]:
s = "sudhanshu"
for i in s:
    if i == 'z':
        break
    print(i)
else:
    print("print string", s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [16]:
t = (4,5,6,7,8,"sudh")

In [17]:
t

(4, 5, 6, 7, 8, 'sudh')

In [20]:
t = (4,5,6,7,8,6,"sudh")
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [21]:
b = {4,5,6,7,7,7,7,7,7,7,7,7,8,"sudh"}

In [22]:
type(b)

set

In [23]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [24]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [3]:
d = {'key1' : "sudh" , 'contact' : "sudhanshu@ineuron.ai" , 'position' : "xyz"}

In [4]:
for i in d :
    print(i)

key1
contact
position

In [3]:
x = int(input("Enter first variable"))
y = int(input("Enter another variable"))

if x + y > 500:
    print("condition satisfied")
else:
    print("not satisfied")

Enter first variable211
Enter another variable332
condition satisfied

# Practise

In [2]:
t = (4,5,6,7,8,6,"sudh")
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [3]:
b = {4,5,6,7,7,7,7,7,7,7,8,"sudh"}

In [4]:
type(b)

set

In [5]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [6]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [7]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [8]:
x = {'key1' : "value 1", 'key2' : "sudhanshu@ineuron.ai" , 'position' : "xyz"}

In [9]:
type(x)

dict

In [10]:
for i in x:
    print(i)

key1
key2
position

In [14]:
x['key1']

'value 1'

In [17]:
for i in x:
    print(x[i])

value 1
sudhanshu@ineuron.ai
xyz

In [18]:
for i in x:
    print(x[i],i)

value 1 key1
sudhanshu@ineuron.ai key2
xyz position

In [19]:
for i in x:
    print(i ,x[i])

key1 value 1
key2 sudhanshu@ineuron.ai
position xyz

In [20]:
a = "sdsddsfdsfsdgfsgfdsgfdsg"
b = [542,4454,74,211,"sfsd"]
c = (45,"df",a)
d = {5455,"sfsdf",213,341}
e = {'key1':"421"}

In [22]:
type(a)

str

In [23]:
type(d)

set

In [24]:
type(e)

dict

In [25]:
type(c)

tuple

In [26]:
for i in x:
    print(i , ":" ,x[i])

key1 : value 1
key2 : sudhanshu@ineuron.ai
position : xyz

In [27]:
range(9)

range(0, 9)

In [28]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [30]:
range(0,9)

range(0, 9)

In [31]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [32]:
list(range(0,90,9))

[0, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [33]:
list(range(0,9,-1))

[]

In [34]:
x = int(input('Enter a value'))
list(range(0,x,4))

Enter a value45

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]

In [35]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [36]:
n = 4 
for i in range(4):
    for j in range(0,i+1):
        print("sudh",end=" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [37]:
x = int(input('Enter a value'))
set(range(0,x,4))

Enter a value40

{0, 4, 8, 12, 16, 20, 24, 28, 32, 36}

In [38]:
x = int(input('Enter a value'))
str(range(0,x,4))

Enter a value40

'range(0, 40, 4)'

In [39]:
n = 4 
for i in range(4):
    for j in range(0,i+1):
        print("sudh",end=" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [41]:
x = int(input("enter value"))
for i in range(x):
    for j in range(0 ,i+1) :
        print("sudh",end=" ")
    print("\n")

enter value4
sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [45]:
x = int(input("enter valhe"))
for i in range(x):
    for j in range(0,i+1):
        print("sudh",end=" ")
    print("\n")

enter valhe5
sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

sudh sudh sudh sudh sudh

In [44]:
x = int(input("range value"))
for i in range(x):
    for j in range(i,x-1):
        print(" "*len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
        print("sudh",end=" ")
    print()

range value3
          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [46]:
x = int(input("enter value"))
for i in range(x):
    for j in range(i,x-1):
        print(" "*len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i):
        print("sudh",end=" ")
    print()

enter value5
                    sudh
               sudh sudh sudh
          sudh sudh sudh sudh sudh
     sudh sudh sudh sudh sudh sudh sudh
sudh sudh sudh sudh sudh sudh sudh sudh sudh

In [47]:
list(range(0))

[]

In [48]:
t = (3,23,45,67,2,4,5,6)

In [49]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [51]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [53]:
s = "ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [55]:
range(len(s))

range(0, 7)

In [57]:
list(range(len(s),0,-1))

[7, 6, 5, 4, 3, 2, 1]

In [58]:
list(range(len(s),-1,-1))

[7, 6, 5, 4, 3, 2, 1, 0]

In [59]:
list(range(len(s)-1,-1,-1))

[6, 5, 4, 3, 2, 1, 0]

In [60]:
for i in range(len(s)-1,-1,-1):
    print(i ,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [65]:
d = {'key1':"sudh" , 'key2':"sudhanshu@ineuron.ai" , 'position':"xyz"}

In [66]:
for i in d.items():
    print(i)

('key1', 'sudh')
('key2', 'sudhanshu@ineuron.ai')
('position', 'xyz')

In [68]:
for i in d.items():
    print(i, type(i) , type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('key2', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [69]:
l = ["sudh" , "kumar" , 3234545 , "sudhanshu@ineuron.ai" , 345 ,34345353]

In [70]:
l

['sudh', 'kumar', 3234545, 'sudhanshu@ineuron.ai', 345, 34345353]

In [74]:
for i in l:
    if i == int:
        print(i)
    else:
        print(" ")

In [5]:
l = ["sudh", "kumar", 3234545, "sudhanshu@ineuron.ai", 345, 34345353]
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [6]:
l1

[3234545, 345, 34345353]

In [8]:
for i in l: 
    if type(i) == int:
        print(i)

3234545
345
34345353

In [9]:
d = {1:3345345 , "name" : "sudh" , "email_id" : "sudhanshu@ineuron.ai" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [10]:
d

{1: 3345345,
 'name': 'sudh',
 'email_id': 'sudhanshu@ineuron.ai',
 234: '3454',
 '43': 'sfsaf'}

In [11]:
for i in d: 
    if type(i) == int:
        print(i)

1
234

In [13]:
for i in d:
    if type(i) == int:
        print(i,":",d[i])

1 : 3345345
234 : 3454

In [14]:
s = "aaaabbccd"

solution required is from above string:
a : 4
b : 2
c : 2
d : 1

In [16]:
set(s)

{'a', 'b', 'c', 'd'}

In [17]:
for i in set(s):
    print(i)

c
b
d
a

In [18]:
s.count('a')

4

In [19]:
for i in set(s):
    print(i , ":" , s.count(i))

c : 2
b : 2
d : 1
a : 4

In [20]:
s

'aaaabbccd'

In [21]:
for i in s:
    print(i,":",s.count(i))

a : 4
a : 4
a : 4
a : 4
b : 2
b : 2
c : 2
c : 2
d : 1

In [22]:
i = 34534654646435

In [25]:
for j in i:
    print(j)

TypeError: 'int' object is not iterable

so integers objects are not iterable//... 
remeber it

In [26]:
t = ("sudh" , "kumar", [1,2,3,4,5], (3,4,5,6) , {'key1' :"sudh" , 'key2':"kumar"})

In [27]:
t

('sudh',
 'kumar',
 [1, 2, 3, 4, 5],
 (3, 4, 5, 6),
 {'key1': 'sudh', 'key2': 'kumar'})

In [29]:
for i in t:
    print(i)

sudh
kumar
[1, 2, 3, 4, 5]
(3, 4, 5, 6)
{'key1': 'sudh', 'key2': 'kumar'}

In [ ]:
for i in t:
    if type(i) == int:
        if type(i) == 3:
            print(i)

In [32]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i :
            if j == 3 :
                print(j)

3
3

In [37]:
t = ("sudh" , "kumar", [1,2,3,4,5], (3,4,5,6) , {3:3 , 'key1' :"sudh" , 'key2':"kumar"})

In [38]:
t

('sudh',
 'kumar',
 [1, 2, 3, 4, 5],
 (3, 4, 5, 6),
 {3: 3, 'key1': 'sudh', 'key2': 'kumar'})

In [40]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [41]:
d.items()

dict_items([(1, 3345345), ('name', 'sudh'), ('email_id', 'sudhanshu@ineuron.ai'), (234, '3454'), ('43', 'sfsaf')])

In [46]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3

# homework

In [ ]:
q1 : 
    ineuron
    ineuron ineuron
    ineoron ineroun ineuron 
    ineuron ineuron ineuron ineuron

In [ ]:
q2:      ineuron
    ineuron    ineuron 
ineuron   ineuron     ineuron 
     ineuron    ineuron 
          ineuron

In [42]:
q3:

In [44]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1':"sudh" , 'k2' :"ineuron" ,'k3':"kumar" , 3:6 ,7:8} ,["ineuron","data science"]]

In [45]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science']]

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7), set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1':"sudh" , 'k2' :"ineuron" ,'k3':"kumar" , 3:6 ,7:8} ,["ineuron","data science"]]

Try to extract all the list entity 
Try to extract all the dict entities
Try to extract all the tuples entities
Try to extract all the numerical data it may be a part of dict key and values

Try to give a sumation of all numeric data 
Try to filter out all the odd values out all numeric dta which is a part of a list 

Try to extract "ineuron" put of this data
Try to find out a number of occurances of all the data 
Try to find out a number of keys in dict element 
Try to filter out all the string data 
Try to find out aphanum in data 
Try to find out multiplication of all the individual collection inside dataset 

Try to unwrape all the collection inside collection and create a flat list