# q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [3]:
n = 4
for i in range(n):
    for j in range(0,i+1):
        print("ineuron",end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [2]:
x = int(input("Enter pattern size"))
for i in range(x):
    for j in range(0,i+1):
        print("ineuron",end=" ")
    print("\n")

Enter pattern size4
ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

# q3,q4 &q5 : Try to extract all the list entity , Try to extract all the dict enteties  ,&  Try to extract all the tuples entities

In [108]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [102]:
for i in l:
    if type(i) == list:
        print(i)
else:
    print(" ")

[1, 2, 3, 4]
['ineuron', 'data science ']

In [103]:
for i in l:
    if type(i) == dict:
        print(i)
else:
    print(" ")

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [104]:
for i in l:
    if type(i) == tuple:
        print(i)
else:
    print(" ")

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [105]:
for i in l:
    if type(i) == set:
        print(i)
else:
    print(" ")

{45, 4, 5, 23}

# q6 : Try to extract all the numerical data it may b a part of dict key and values

In [127]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [134]:
for i in l:
    if type(i) == list or type(i) == dict or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == int:
                print(j)
for h in d.values():
    if type(h) == int:
        print(h)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
5
4
45
23
3
7
11
9

# q7 : Try to give summation of all the numeric data

In [53]:
k = []
for i in l:
    if type(i) == tuple or type(i) == list or type(i) == dict or type(i) == set:
        for j in i:
            if type(j) == int:
                k.append(j)
print(sum(k))

142

In [122]:
k = []
for i in l:
    if type(i) == tuple or type(i) == list or type(i) == dict or type(i) == set:
        for j in i:
            if type(j) == int:
                k.append(j)
print(sum(k))

142

# q8 : Try to filter out all the odd values out all numeric data which is a part of a list

In [120]:
l = [[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [154]:
k = []
for i in l:
    if type(i) == list:
        for j in i:
            if type(j)== int :
                k.append(j)
print(k)

[1, 2, 3, 4]

# q9 : Try to extract "ineruon" out of this data

In [141]:
for i in l:
    if type(i) == dict:
        for j in i.values():
            if j == 'ineuron':
                print(j)

ineuron

# q10 :Try to find out a number of occurances of all the data

# q11 : Try to find out number of keys in dict element

In [144]:
for i in l:
    if type(i) == dict:
        for j in i.keys():
            print(j)

k1
k2
k3
3
7

# q12 : Try to filter out all the string data

In [153]:
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == dict or type(i) == str:
        for j in i:
            if type(i) == str:
                print(j)
    else:
        print("No data type is string")

No data type is string

# q13 : Try to Find  out alphanum in data

In [167]:
s = str(l)
s.isalnum()

False

# q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [4]:
l = [[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [24]:
k = 1
l2 = []
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                k = k * j
                print(k)

1
2
6
24

In [25]:
m = 1
l2 = ()
for i in l:
    if type(i) == tuple:
        for j in i:
            if type(j) == int:
                m = m * j
                print(m)

2
6
24
120
720
2160
8640
43200
259200
1814400

In [26]:
v = 1
l2 = {}
for i in l:
    if type(i) == dict:
        for j in i:
            if type(j) == int:
                v = v * j
                print(v)

3
21

In [21]:
k = 1
l2 = []
l3 = []
for i in l:
    if type(i) in [list , tuple, set, dict]:
        for j in i:
            if type(j) == int:
                k = k*j
                continue
        l2.append(k)
    else:
        l3.append(i)
print(l2)

[24, 17280, 43545600, 901393920000, 18929272320000, 18929272320000]

In [ ]:
def multiplyList(yourlist) :
     
    k = 1
    for x in yourlist:
        k = k * x
    return k
     using this logic you can multiply elements sir

In [ ]:
l2 = []
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                l2.append(j)
def multiplyList(l2):
    k = 1
    for x in l2:
        k = k * x
    return k

# q15 : Try to unwrape all the collection inside collection and create a flat list

In [32]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [44]:
l2 = []
for i in l:
    if type(i) == list or type(i) == tuple or type(i) == dict or type(i) == set:
        for j in i:
            if type(j) == int or type(j) == str:
                l2.append(j)
print(l2)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 5, 4, 45, 23, 'k1', 'k2', 'k3', 3, 7, 'ineuron', 'data science ']